{% extends "base.html" %}

{% block title %}
        {{ recipe_object.title }} -
        Scrumptious Recipes
{% endblock title %}


{% block content %}
    <header>
        <nav>
            <a class="nav-links" href="{% url "recipe_list" %}">Main page</a>
        </nav>
    </header>
    <main class="text-center">
        <h1>Edit {{ recipe_object.title }}</1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Save</button>
        </form>
    </main>
{% endblock content %}
