{% extends "base.html" %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a class="nav-links" href="{% url "recipe_list" %}">Main Page</a>

            {% if user.is_authenticated %}
                Hello, {{ user.username }}
                <a class="nav-links" href="{% url "create_recipe" %}">Create a Recipe</a>
                <a class="nav-links" href="{% url 'my_recipe_list' %}">My Recipes</a>
                <a class="nav-links" href="{% url 'user_logout' %}">Logout</a>
            {% else %}
                <a class="nav-links" href="{% url 'signup' %}">Sign Up</a>
                <a class="nav-links" href="{% url 'user_login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1 class="center-text">Scrumptious Recipes</h1>
        <h2 class="center-text">All the food that's fit to eat</h2>
        <div class="grid-container">
            {% for recipe in recipe_list %}
            <div class="center-text">
                <h3>
                    <a class="recipe-titles" href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                    <p>{{ recipe.created_on|date:"F d, Y" }}</p>
                </h3>
                <img class="fit-picture shadow"
                    src="{{ recipe.picture }}"
                    alt="Tacos">
                <div>4.3 stars</div>
            </div>
            {% empty %}
                <p>There are no recipes.</p>
            {% endfor %}
        </div>

    </main>
{% endblock content %}
