@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gantari:wght@100&display=swap');

body {
    background-image: url("https://wallpaperaccess.com/full/1746747.jpg");
    background-color: #587483;
    font-family: 'Gantari', sans-serif;
}

nav {
    padding: 20px;
    background-color: #587483;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

main {
    padding: 16px;
    margin: 1em;
}

footer {
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 24px;
    padding-left: 30px;
    background: #587483;
    color: white;
}

img {
    height: 200px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
}

.nav-links {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Gantari', sans-serif;
    display: inline;
    margin-left: 10px;
}

a:hover {
    box-shadow: 0. 2px, 5px, 5px, solid rgb(63, 54, 54);
    text-decoration: none;
    color: #fa9c87;
}

h1 {
    color: #587483;
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    font-weight: 400;
}


h2 {
    color: #587483;
    font-weight: bold;
    font-size: 25px;
}

.shadow {
    box-shadow: 0 2px 4px 2px rgb(0, 0, 0);
    transition: box-shadow 0.5s;
}


tr:nth-child(even):not(:first-child) {
    background-color: rgb(206, 204, 204);
    width: 25%
}

.center-text {
    text-align: center;
}

.green-text {
    color: #93c30e;
    font-weight: bolder;
}

table {
    margin-left: 20px;
}

.logo-in-nav {
    height: 200px;
    width: 200px;
}

.recipe-titles {
    color: #587483;
    font-size: 30 px;
    font-weight: bolder;
}

.bold {
    font-weight: bolder;
}
